
.app-footer {
    background-color: rgb(38, 44, 44);
    color: goldenrod;
    width: 100%;
    height: 4.387rem;
    margin-top: 7.25rem;
    text-align: center;
    padding-top: 1.562rem;
    font-family:'Roboto',sans-serif;
}