.user-msg {
    position: fixed;
    top: 5%;
    right: 5%;
    padding: 1rem 1.5rem;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {
        right: 0px;
    }
    to {
        right: 200px;
    }
}

.user-msg button {
    position: absolute;
    top: 2%;
    right: 2%;
}

.user-msg.success {
    background-color: white;
   color: rgb(119, 238, 179);
}

.user-msg.danger {
    color: rgb(238, 119, 119);
    background-color: white;
}