
.keep-up-container{
    margin-right: 10px;
    margin-left: 10px;
    background-color: #f5f5f5;
    width: 100%;
    height: 100vh;
}


.keep-input-text {
    padding: 0px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(204, 204, 204, 0.947);
  }

.input-text-container{
    margin-right: 20%;
    margin-left: 20%;
    padding: 0px;
    height: 50px;
   
    
}

.keep-margins{
    margin-right: 5%;
    margin-left: 5%;
    height: fit-content;
    
}
section .note-list{
    display: flex;
    margin-top: 5%;
    height: fit-content;
    width: 100%;
    
}