
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
    color:black;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    break-inside: avoid-column;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
   
}

.card:hover{
    box-shadow: 0 5px 10px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.card-img{
    width: 100%;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card.todo-card{
    text-align: left;
}

.todo-row {
    display: flex;
}

.todo-item {
    text-align: start;
}

.todo-item.marked {
    text-decoration: line-through;
}

.play{
    width: 70%;
    height: 100%;
    border: none;
}

.note-preview{
    break-inside: avoid-column;
}

.actions-container{
    /* display: none; */
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 0;
    margin: 0;
    margin-top: 5%;
}



.card:hover  .action-btn {
    display: block;
} 



.btn-remove{
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    background: none;
}

.btn-edit{
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    padding: 0;    
}

.action-btn{
    display: none;
    height: 100%;
    width: 20px;
    border: none;
    background: none;
    padding: 0; 
}

.btn-send-mail{
    display: none;
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    padding: 0;
}

.btn-mail{
    
        font: bold 11px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
      
}

.select-note-filter{
    border: none;
    font-size: 1.2rem;
}

.option:hover{
    background: silver;
}

.btn-filter{
    width: 80px;
    height: 20px;
    background: black;
    margin: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-filter:hover{
    background: silver;
    border: none;
}

.btn-keep-app-mail{
    width: 10%;
}

.img-preview{
    width: 100%;
}