/* 


.clean-link {
    text-decoration: none;
    color: inherit;
}


.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 14vh;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.logo-img-header{
    height: 120px;
    width: 200px;
}

.app-header .main-nav a {
    text-decoration: none;
    color: inherit;
}

.app-header .main-nav a.active {
    color: #316a81;
}

.app-header .main-nav a.my-active {
    color: #ce0000;
}

.app-header .main-nav > *:not(:last-child) {
    margin-inline-end: 1rem;
} */