.mail-main-container {
    display: flex;
    flex-grow: 1;
    min-height: 100%;
    margin-bottom: 2rem;
}

.btn-mail-burger {
    border: none;
    display: block;
    margin-top:0.625rem;
    background-color: white;
    cursor: pointer;
    margin-left: 0px;
}


@media(min-width:650px) {
    .btn-mail-burger {
        margin-top: 1.875rem;
        margin-left: 10px;

    }
}

@media (min-width: 920px) {
    .mail-main-container {
        margin-bottom: 0;
    }

    .btn-mail-burger {
        display:none;
    }
}