.mail-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  
  .mail-content {
    width: 100%;
    margin: 2rem 0;
    border: 1px solid #292929;
    background-color: rgb(230, 230, 230);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-grow: 1;
  }
  
  .mail-content-head {
    background-color: #b1afaf8c;
     color: #383838;
    padding: 0.2rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    line-height:0.5;
  }
  
  .mail-content-head p {
    align-self: flex-start;
  }
  
  .mail-content-head h1, h4, .mail-to {
    letter-spacing: 1.7px;
    font-family: Lato-Light;
  }
  
  .mail-content-body {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.2rem;
    letter-spacing: 1.2px;
    margin-bottom: 2rem;
    line-height: 2.5rem;
  }
  
  .mail-delete-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mail-delete-container button {
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    font-family: Lato-Bold;
  }
  
  .go-back-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 4rem;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgba(29, 28, 28, 0.842);
    background-color: whitesmoke;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .go-back-container:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .delete-mail-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 4rem;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgba(29, 28, 28, 0.842);
    background-color: whitesmoke;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .delete-mail-details:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  @media (min-width: 620px) {
    .mail-content-head {
      flex-direction: row;
    }
  }
  
  @media (min-width: 920px) {
    .mail-content-body {
      font-size: 1.2rem;
    }
  }
  
  @media (min-width: 1250px) {
    .mail-content-body {
      font-size: 1.3rem;
    }
  }
  
  @media (min-width: 1600px) {
    .mail-content-body {
      font-size: 1.5rem;
    }
  }