
.mail-preview-conteiner{
  display: flex;
  flex-direction: column;
}


.mail-preview{
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(185, 183, 183);
  border-bottom: 1px solid  rgba(219, 217, 217, 0.856);

  
}

.mail-preview:hover{
  box-shadow: 1px 1px 8px 1px #a5a4a4;
}

.column{
  display: flex;
  justify-items: right;
 text-align: center;
 flex-basis: 25%;
}

.read{
  background-color: rgba(212, 209, 209, 0.041);
}

@media(min-width:650px){
  .mail-preview-conteiner{
    display: flex;
    flex-direction: column;
  }
  
  
  .mail-preview{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(185, 183, 183);
    
  }
  
  .mail-preview:hover{
    box-shadow: 1px 1px 8px 1px #a5a4a4;
  }
  
  .column{
    display: flex;
    justify-items: right;
   text-align: center;
   flex-basis: 25%;
  }
  
  .read{
    background-color: rgba(212, 209, 209, 0.041);
  }
}