
* {
    box-sizing: border-box;
}


body{
    /* background-image: url('https://previews.123rf.com/images/wamsler/wamsler1406/wamsler140600010/29122906-row-of-books-grungy-background-free-copy-space.jpg'); */
    text-align: center;
}

.logo-img{
    height: 18.06rem;
    width: 54.5rem;
}
